.contact-page{
    background: #140D27;
    padding: 1em
}


.contact-title{
    color: #D434FE;
    font-family: Clash Display;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    width: 70%;
}
.cont-info{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-outline{
    width: 80%;
    color: #fff
}
.con-inp{
    width: 27.3125rem;
    height: 2.9375rem;
    color: #fff;
    border: 1px solid #fff;
    margin: 1em auto;
}
.form-outline label{
    color: #fff;
}


@media screen and (min-width: 768px) {
    
}