.contact-page{
    background: #140D27;
    padding: 1em
}


.contact-title{
    color: #D434FE;
    font-family: Clash Display;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    width: 70%;
}
.cont-info{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.con-div{
    width: 80%;
    color: #fff;
    margin: 1em auto;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 18.625rem;
    height: 2.9375rem;
}
.con-div label{
    position: absolute;
    top:0.5em;
    background: #140d27;
    left: 1em;
}
.con-div input,
.con-div textarea{
    background: #140d27;
    color: #fff;
    border: 0;
    outline: 0;
    padding-left: 1em;
}
.con-div input:focus~label,
.con-div textarea:focus~label{
    color: #fff;
    top: -1em;
    left: 1em;
}
.ta-div, textarea{
    height: 10em;
}


@media screen and (min-width: 768px) {
    
}