.timeline{
    background: #150E28;
    color: #fff;
    padding: 1em;
}
.timeline-dets{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.det-one{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%;
    margin: 1em auto;
    width: 80%;
    position: relative;
}
.timelinehd,
.t-date{
    color: #D434FE;
    font-weight: 700;
    margin-left: 2em;
    margin-top: 1.5em;
}
.tline{
    width: 0.125rem;
    height: 4.8125rem;
    background: #D434FE;
    position: relative;
}
.timelinebd{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%;
    position: absolute;
    top: 4em;
    left: 2em;
}
.circ-num{
    width: 1.2075rem;
    height: 1.2075rem;
    padding: 0.5em 0.8em;
    flex-shrink: 0;
    border-radius: 50%;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
    font-weight: 700;
    position: absolute;
    bottom: -3em;
    left: -0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 992px){
    .lg-txt,
    .desc-intro{
        text-align: center;
    }

    .det-one{
        display: grid;
        grid-template-areas:
        "date linecirc hd"
        "date linecirc bd";
        align-items: center;
        gap: 1em;
    }
        .timelinehd{
            margin-top: -1em;
            margin-left: 0;
        }
        .t-date{
            margin-inline: auto;
            margin-top: 7em; 
            padding-left: 15em;   
            grid-area: date;
            width: 30vw;
        }
    .timelinebd{
        width: 30vw;
        position: static;
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 170.9%;
       grid-area: hd;
       margin-top: 3em;
    }
    .tline{
        grid-area: linecirc;
    }
    .circ-num{
        bottom: -2em;
    }

}